/* 스타일 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
ul {
	list-style-type: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS를 활용한 레이아웃 및 UI 디자인 */
body{
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  /* font-size: 1em; */
  /* font-weight: normal; */
  /* margin: 0; */
}
/* 레이아웃 */
.container{
  background-color: #aaa;
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header{
  background-color: yellow;
  position: relative;
}
/* 로고 */
.logo{
  position: absolute;
  top: 50px;
  left: 65px;
}
/* 비주얼 */
.visual{
  background-color: orange;
  height: 10vh;
}
/* 메인 */
.main{
  background-color: blue;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px 0;
}
.group1{
  background-color: skyblue;
  width: 250px;
}
.group2{
  background-color: skyblue;
  width: 380px;
}
.group3{
  background-color: skyblue;
  width: 190px;
}
/* 슬로건 */
.slogan{
  background-color: lime;
  height: 10vh;
}
/* 푸터 */
.footer-bg{
  background-color: purple;
}
.footer{
  background-color: pink;
  height: 10vh;
}

